<div class="container">
  <h1>Welcome to {{title}}!</h1>
  <div class="material-component">
    <button mat-button [matMenuTriggerFor]="menu" #menuTrigger='matMenuTrigger'>Menu</button>
    <mat-menu #menu="matMenu">
      <button class="menu-item" mat-menu-item>Item 1</button>
      <button class="menu-item" mat-menu-item>Item 2</button>
    </mat-menu>
  </div>
  <div class="material-component">
    <mat-form-field>
      <mat-select id="food-select" #foodSelect="matSelect" placeholder="Favorite food">
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
